body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('images/background.png') #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  header nav ul li a img {
    height: 13px;
  }

  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}
